body {
    margin: 50px;
  }
  
  .tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    font-family: sans-serif;
  }
  
  .tabs__label {
    padding: 10px 16px;
    cursor: pointer;
    margin: auto;
  }
  
  .tabs__radio {
    display: none;
  }
  
  .tabs__content {
    order: 1;
    width: 100%;
    
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
  }
  
  .tabs__radio:checked + .tabs__label {
    font-weight: bold;
    color: rgb(244, 83, 105);
    border-bottom: 5px solid rgb(244, 83, 105);
  }
  
  .tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
  }